.wrap{
  position: absolute;
  top:50%;
  left:50%;
  width:1200px;
  text-align: center;
  transform: translate(-50%,-50%);
}
h1{
  font-size:60px;
  font-weight: bold;
  line-height: 120px;
}
ul{
  display: block;
  line-height: 20px;
}

ul li a{
  display: block;
  font-size: 20px;
  color:blue;
  line-height: 30px;
}
